@font-face {
  font-family: 'Chicago Athletic';
  src: url('/fonts/ChicagoAthletic-Script1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chicago Athletic';
  src: url('/fonts/ChicagoAthletic-SlabSerif1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chicago Athletic';
  src: url('/fonts/ChicagoAthletic-Script2.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cute Charm';
  src: url('/fonts/CuteCharmRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chicago Athletic';
  src: url('/fonts/ChicagoAthletic-SlabSerif2.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bubble Note';
  src: url('/fonts/BubbleNoteRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cheery Note';
  src: url('/fonts/CheeryNoteRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'College Black';
  src: url('/fonts/CollegeBlackRegular.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppy Line';
  src: url('/fonts/PoppyLineRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'I Love You';
  src: url('/fonts/ILoveYou-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Happy Hand';
  src: url('/fonts/HappyHandRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lovely Letter';
  src: url('/fonts/LovelyLetterRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playful Pen';
  src: url('/fonts/PlayfulPenRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Glee Script';
  src: url('/fonts/GleeScriptRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grinch Wave';
  src: url('/fonts/GrinchWave.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jolly Scriptble';
  src: url('/fonts/JollyScriptbleRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Smiley Script';
  src: url('/fonts/SmileyScriptRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sunny Sketch';
  src: url('/fonts/SunnySketchRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Retro Vintage';
  src: url('/fonts/RetroVintageRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Whimsy Wonder';
  src: url('/fonts/WhimsyWonderRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Triple Rainbow';
  src: url('/fonts/TripleRainbowRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Simple Stacked';
  src: url('/fonts/SimpleStackedRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Wicked Halloween';
  src: url('/fonts/WickedHalloweenRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heart Style - Tail';
  src: url('/fonts/HeartStyleTail.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heart Style - Tail Heart';
  src: url('/fonts/HeartStyleTailHeart.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heart Style - Heart';
  src: url('/fonts/HeartStyleHeart.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heart Style';
  src: url('/fonts/HeartStyle.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Benefit';
  src: url('/fonts/BenefitRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
